@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: large;
    font-family: 'Fira Code', monospace;
    text-shadow: 3px 3px 3px #ccc;
}

body {
    margin: 10px;
}

body>div {
    margin-bottom: 20px;
}

.content {
    white-space: pre-wrap;
}

#input>input {
    border: 0;
    outline-width: 0;
    background: none;
}

#input {
    border: 1px solid #888;
    padding: 5px;
}

#main-text, #input {
    margin: 10px 5px;
}

.action {
    color: #080;
    cursor: pointer;
}

h3 {
    color: #888;
}

#info-content {
    transition: opacity 1s;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #bbb;
        background-color: #1b1b18;
        text-shadow: 3px 3px 3px #000;
    }
}