@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-size: large;
    font-family: 'Fira Code', monospace;
    text-shadow: 3px 3px 3px #ccc;
}

body {
    margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1em auto 2em;
    grid-template-areas:
        "time time time health"
        "spc  spc  spc  population"
        "input input input population";
    gap: 20px;
}

.time {
    grid-area: time;
}

.health {
    grid-area: health;
}

.space {
    border: 1px solid #888;
    padding: 1em;
    grid-area: spc;
}

.population {
    grid-area: population;
}

.population ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.input {
    grid-area: input;
}

.input>input {
    width: 100%;
}

.content {
    white-space: pre-wrap;
}

.action {
    color: #080;
    cursor: pointer;
}

h3 {
    color: #888;
}

#info-content {
    transition: opacity 1s;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #bbb;
        background-color: #1b1b18;
        text-shadow: 3px 3px 3px #000;
    }
}